body {
    background-color: #c5050c; /*offical UW madison color*/
    margin-left: 25%;
    margin-right: 25%;
    display: block;
    margin: 1em auto;
    max-width: 46em;
}
h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration: bold;
}
p {
    margin-left: 20px;
    margin-right: 20px;
}
main{
    background-color: #e9d4bd; /*offical UW madison color*/
    margin:0 auto 10%;
    width:100%;
    justify-content:center;
    padding:1rem;
    /*height: 96%;  /*will be used when i have more to put on site*/
}
html,body { height: 96%; }